* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Jost, sans-serif;
  background-color: @main-bg-color;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  padding: 35px 0 15px;
}

.header {
  margin-bottom: 60px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: end;
}

.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: end;
}

.menu-item {

}

.menu-item a {
  font-weight: 700;
  color: white;
  font-size: 16px;
  text-decoration: none;
  margin-right: 30px;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: all .3s;
}

.menu-item a:hover {
  border-bottom: 2px solid @color-rose;
  color: @color-rose
}

.menu-item a.active {
  background: @main-color-rose;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  border-radius: 4px;
  width: 146px;
  height: 50px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background: @main-color-rose;
  border: 0;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  box-sizing: border-box;
  transition: all .3s;
}

.button:hover {
  box-shadow: 0px 0px 9px 2px @color-rose;
}

.button.transparent {
  background: transparent;
  border-radius: 10px;
  border: 2px solid @color-rose;
  transition: .3s ease all;
}

.button.transparent:hover {
  background: @color-rose;
  color: white;
  box-shadow: none;
}

.main-content-1 {
  display: flex;
  align-items: start;
  justify-content: space-between;
  overflow-x: hidden;
}

.main-content-name {
  font-weight: 400;
  font-size: 75px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px @color-rose; /* Для браузеров на базе WebKit */
  margin-bottom: 60px;
}

.main-content-work {
  font-family: Josefin Sans, sans-serif;
  font-weight: 600;
  font-size: 128px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background: @main-color-rose;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-content-description {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f6f6f6;
  z-index: 10;
  margin-top: 10px;
}

.shadow {
  height: 21px;
  width: 100%;
  border-radius: 100%;
  background: @main-color-rose;
  filter: blur(15px);
  margin-top: -20px;
  z-index: -1;
}

.main-content-networks {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 130px;
}

.network {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  background: @main-color-rose;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0 30px 15px;
  border-right: 1px solid @color-rose;
  cursor: pointer;
}

.network:hover {
}

.network:last-child {
  border-right: none;
}

.main-content-image {
  overflow-x: hidden;
  animation: myphoto 5s infinite .3s;
}

@keyframes myphoto {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(7deg);
  }
  100% {
    transform: rotate(-7deg);
  }
}

.line {
  width: 1171px;
  height: 1px;
  background: @main-color-rose;
}

.about {
  padding: 60px 0 45px;
  background-color: @main-bg-light;
}

.button.download-cv {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  width: 195px;
}

.about-title {
  font-weight: 600;
  font-size: 64px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  //color: #4543e8;
  background: linear-gradient(180deg, #6a77e7 0.98%, rgba(52, 65, 180, 0.68) 54.86%, #2534bd 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 25px;
}

.about-text {
  font-weight: 400;
  font-size: 22px;
  color: #000;
  margin-bottom: 35px;
  text-align: justify;
}

.services {
  padding: 45px 0;
}

.services-title {
  font-weight: 600;
  font-size: 64px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background: @main-color-rose;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 50px;
}

.square {
  width: 50px;
  height: 50px;
  border: 3px solid @color-rose;
  position: absolute;
  top: 0;
  left: 0;
}

.square::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 34px;
  height: 34px;
  border: 3px solid @color-rose;
}

.service-item {
  display: flex;
  align-items: end;
  justify-content: space-between;
  position: relative;
  padding-bottom: 15px;
  border-bottom: 1px solid @color-rose;
  width: 800px;
  margin: 45px auto 0 auto;
}

.service-item-name {
  margin-top: 80px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f6f6f6;
}

.service-item-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #dbd7d7;
  width: 345px;
}

.skills {
  padding: 45px 0;
}

.skills-title {
  font-weight: 600;
  font-size: 64px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  background: @main-color-rose;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 60px;
}

.skills-items {
  //display: flex;
  //flex-wrap: wrap;
  //align-items: center;
  //justify-content: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 80px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  //margin: 50px;
  height: 155px;
}

.skill-item span {
  margin-top: auto;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.14em;
  text-align: center;
}

.works {
  padding: 45px 0;
}

.works-title {
  font-weight: 600;
  font-size: 64px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  background: @main-color-rose;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.works-description {
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #f6f6f6;
  padding-bottom: 20px;
  border-bottom: 1px solid @color-rose;
  margin: 0 auto;
  text-align: center;
  width: 270px;
}

.works-items {
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.work-item img {
  width: 100%;
}

.work-item {
  transition: .4s all;
  position: relative;
  overflow: hidden;
}

//.work-item:hover {
//  scale: 1.1;
//}

.work-item::after {
  content: '';
  width: 100%;
  height: 100%;
  //background: rgba(25, 0, 97, 0.85);
  background: linear-gradient(180deg, #0A0123D8 0%, rgba(25, 0, 97, 0.89) 100%);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 100%);
  transition: all .4s;
}

.work-item:hover::after {
  transform: translate(0, 0);
}

.work-item:hover .work-item-hover {
  opacity: 1;
}

.work-item-hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 30px 20px;
  opacity: 0;
  transition: opacity .3s;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.work-item-title {
  font-size: 22px;
  margin-bottom: 30px;
}

.work-item-tools {
  font-size: 18px;
  color: #eaeffc;
  //margin-bottom: 30px;
}

.work-item-actions {
  margin-top: auto;
}

.work-item-website {
  margin-right: 10px;
}

.contacts {
  padding: 45px 0;
}

.contacts-title {
  font-weight: 600;
  font-size: 64px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  background: @main-color-rose;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 45px;
}

.contacts-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts-my {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-right: 60px;
}

.contact-my {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 24px 30px;
  width: 368px;
  height: 117px;
  box-sizing: border-box;
  background: @main-color-rose;
  margin-bottom: 20px;
  transition: all .3s;
  color: white;
  text-decoration: none;
}

.contact-my:hover {
  box-shadow: 0px 0px 9px 2px @color-rose;
}

.contact-my-svg {
  width: 70px;
  height: 70px;
  background-color: @main-bg-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 24px 0 rgba(15, 16, 24, 0.42);
}

.contact-my-info {
  margin-left: 20px;
}

.contact-my-info-title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 7px;
}

.contact-my-info-descr {
  font-weight: 300;
  font-size: 16px;
}

.contacts-user-name {
  font-weight: 600;
  font-size: 48px;
  letter-spacing: 0.02em;
  color: #f6f6f6;
  margin-bottom: 18px;
}

.send-message-form {
  max-width: 700px;
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 335px));
  //grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 56px);
  grid-column-gap: 30px;
  grid-row-gap: 18px;
  //display: flex;
  //align-items: start;
  //justify-content: space-between;
  //flex-wrap: wrap;
}

.form-input {
  border: 1px solid #f4f5f7;
  border-radius: 8px;
  //width: 335px;
  //height: 56px;
  background-color: transparent;
  color: white;
  padding: 15px 30px;
  box-sizing: border-box;
  outline: none;
}

.form-input::placeholder {
  font-weight: 300;
  font-size: 16px;
  color: #f4f5f7;
}

.label-input-message {
  font-family: Jost, sans-serif;
  //width: 700px;
  //height: 210px;
  margin-top: 18px;
  grid-column: 1/3;
  grid-row: 2 / 5;
}

.error-input {
  color: red;
  margin-top: 12px;
  margin-bottom: 15px;
  display: none;
}

.button-form {
  border-radius: 4px;
  width: 407px;
  height: 67px;
  //margin-top: 37px;
  font-size: 20px;
  //margin-bottom: 33px;
  grid-column: 1/3;
}

.agree {
  grid-column: 1/3;
}

.agree label {
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.checkbox {
  border: 1px solid white;
  width: 18px;
  height: 18px;
}

.checkbox svg {
  display: none;
  width: 25px;
  height: 20px;
  margin-right: 2px;
}

.checkbox svg path {
  fill: white;
}

.input-checkbox {
  opacity: 0;
  position: absolute;
  top: 3px;
  left: 105px;
}

.agree-text {
  font-size: 14px;
  font-family: Museo300, sans-serif;
  text-align: start;
  margin-left: 20px;
}

.footer {
  margin-top: 40px;
  text-align: center;
  padding: 40px 0;
  border-top: 1px solid rgba(220, 220, 243, 0.81);
  font-size: 16px;
  line-height: 16px;
  color: rgba(220, 237, 243, 0.76);
}

.footer-date {
  margin-top: 10px;
}


/*loader----------*/
.loader-main {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  display: none;
}

.loader {
  width: 60px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, @color-rose) content-box;
  -webkit-mask: repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
  radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}

@keyframes l4 {
  to {
    transform: rotate(1turn)
  }
}


@import "theme";